<section class="site-section">
    <div class="container-fluid">
        <div class="container">
            <div @circles class="circles circle-LG d-none d-lg-block"></div>
            <div @circles class="circles circle-MD d-none d-lg-block"></div>
            <div @circles class="circles circle-SM d-none d-lg-block"></div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 min-h-26 d-flex align-items-lg-end">
                    <h1 class="mt-5 mt-lg-0 mb-lg-5">Cookie's Policy</h1>
                </div>
                <div class="w-100"></div>
                <div class="col-12 col-lg-4 min-h-53 d-flex align-items-lg-start">
                    <div class="mRight">
                        <p>
                            Cookies are small pieces of information sent and stored on the hard drive of the user’s
                            computer
                            through
                            the browser
                            when connecting to a website. Cookies can be used to collect and store user data while
                            connected, in
                            order to
                            provide services that are not typically kept (session cookies), or to record user data for
                            future
                            services that can
                            be stored indefinitely (persistent cookies). Cookies can be owned by the website or by
                            thirdparties.
                        </p>
                        <h2>There are several types of cookies:</h2>
                        <ul>
                            <li>
                                Technical cookies enable browsing and the use of the options or services o-ered by the
                                web,
                                such
                                as:
                                identifying sessions, allowing access to certain areas, enabling orders, purchases,
                                filling
                                out forms,
                                registration, security, enabling functions (animation videos, social networks,
                                etc.).
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-4 d-flex align-items-lg-start min-h-53">
                    <div class="mRight">
                        <ul>
                            <li>
                                Customization cookies allow users to access services according to their preferences
                                (language,
                                browser, and
                                configuration).
                            </li>
                            <li>
                                Advertising cookies enable management of advertising space on our web: <a
                                    routerLink="/">www.mountaber.com</a>.
                            </li>
                            <li>
                                Targeted advertising cookies enable management of advertising spaces based on
                                userbrowsing
                                habits
                                and behaviour.
                                This profiling enables customization of ads displayed onthe user’s browser.
                            </li>
                        </ul>

                        <p>
                            <strong>MOUNTABER</strong> uses technical, customization and analytical cookies, and third
                            party
                            advertising
                            cookies, which never process personal data but capture browsing habits for advertising
                            purposes.
                        </p>

                        <p>
                            As we use analytical and advertising cookies, in accordance with article 22 of the Law on
                            Information
                            Society
                            Services and E-commerce, you are asked for consent when accessing our website.
                        </p>

                        <p>
                            However, we inform you that you can enable or disable these cookies by following the
                            instructions on
                            your web
                            browser.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
