<app-hamburger></app-hamburger>

<header class="container-fluid" #header role="banner">
  <div class="container">
    <!---------------- menu pantalla ------------------->
    <div class="row justify-content-center myHeader no-gutters">
      <!-- nav1 ------------------------------------------------------------------->
      <div class="col-5 line noPadding d-none d-lg-block">
        <nav
          class="nav justify-content-around d-flex align-content-end flex-wrap"
          role="navigation"
        >
          <a
            #menu
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="menu-active"
            routerLink="/"
            class="nav-link menu-line align-self-end"
            >who are we</a
          >

          <a
            #menu
            routerLinkActive="menu-active"
            routerLink="/the-stamp"
            class="nav-link menu-line"
            >the stamp</a
          >
        </nav>
      </div>

      <!--------------------------------- logo ---------------------------------------------->
      <div class="col-md-6 col-lg-2 d-flex align-content-end flex-wrap">
        <figure #logo class="box-logo mx-auto">
          <img
            routerLink="/"
            id="logo"
            class="logo"
            src="./assets/logoWeb.svg"
            alt="Mountaber"
            width="100%"
            height="auto"
          />
        </figure>
      </div>
      <!-- nav2 -------------------------------------------------------------------->
      <div class="col-5 line d-none d-lg-block">
        <nav
          class="nav justify-content-around d-flex align-content-end flex-wrap"
          role="navigation"
        >
          <a
            #menu
            routerLinkActive="menu-active"
            routerLink="/the-jewels"
            class="nav-link menu-line"
            >the jewels</a
          >

          <a
            #menu
            routerLinkActive="menu-active"
            routerLink="/contact-us"
            class="nav-link menu-line"
            >contact us</a
          >
        </nav>
      </div>
    </div>
  </div>
</header>
