<footer class="container-fluid fixed-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-6">
        <div class="footer-left">
          <p>
            Mountaber ® 2020. All rights reserved.
          </p>
        </div>
      </div>

      <div class="col-lg-6 d-none d-md-block">
        <div class="footer-right">
          <p class="text-lg-right">
            Legal notice　|　<a routerLink="/cookies" title="cookies mountaber.com">Cookies policy</a>　|　Credits
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
