@import "../../styles.scss";

.footer-left,
.footer-right {
  height: 10vh;
  margin-bottom: 26px;
}

// --------------------------------------min width 1200 ------------------------------------------
@media (min-width: 1200px) {
  footer {
    background: none;
  }

  .footer-left p,
  .footer-right p {
    line-height: 10vh;
  }
}

// --------------------------------------max width 1200 ------------------------------------------
@media (max-width: 1200px) {
  .footer-left,
  .footer-right {
    height: 5vh;
    margin-bottom: 0px;
  }

  .footer-left p,
  .footer-right p {
    line-height: 5vh;
  }
}

// MEDIA QUERIES -------------------------------- min-width: 768  and  max-width: 991.98px
@media (max-width: 991.98px) {
  footer {
    background: darken($title, 14%);
    opacity: 0.9;
  }
  .footer-left {
    text-align: center;
  }
  .footer-left p,
  .footer-right p {
    color: $background;
  }
}

/* ----------- iPhone X ----------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .footer-left p {
    line-height: 30px;
  }
  .footer-right {
    display: none;
  }
}

/* ----------- iPhone 6 ----------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .footer-left p {
    line-height: 30px;
  }
}
