<div id="icons">
  <ul>
    <li>
      <a href="https://www.linkedin.com/company/mountaber/" target="_blank">
        <object
          type="image/svg+xml"
          data="./assets/foto/icons-linkedin.svg"
        ></object>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/mountaber" target="_blank"
        ><object type="image/svg+xml" data="./assets/foto/icons-fb.svg"></object
      ></a>
    </li>
    <li>
      <a href="https://www.instagram.com/mountaber/" target="_blank"
        ><object
          type="image/svg+xml"
          data="./assets/foto/icons-instagram.svg"
        ></object
      ></a>
    </li>
  </ul>
</div>
