@import "../../../styles.scss";

.footer-left,
.footer-right {
  height: 10vh;
  margin-bottom: 26px;
}

// menu hover effect ----------------------------------------------------
.menu-line {
  position: relative;
}

.menu-line:hover {
  color: $linkHover;
  transition: color cubic-bezier(0.25, 0.46, 0.45, 0.94) 400ms;
  text-decoration: none;
}

.menu-line:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -170%;
  background: $linkHover;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-line:hover::after {
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  opacity: 1;
  color: $text;
}

.menu-active {
  color: $linkHover;
}

// --------------------------------------min width 1200 ------------------------------------------
@media (min-width: 1200px) {
  .footer-left p,
  .footer-right p {
    line-height: 10vh;
  }
}

// --------------------------------------max width 1200 ------------------------------------------
@media (max-width: 1200px) {
  .footer-left,
  .footer-right {
    height: 5vh;
    margin-bottom: 0px;
  }

  .footer-left p,
  .footer-right p {
    line-height: 5vh;
  }
}

@media (min-width: 991.98px) {
  footer {
    background: rgba($color: #f6f5f3, $alpha: 0.96);
  }

  .transparentFooter {
    background: none;
  }
}

// MEDIA QUERIES -------------------------------- min-width: 768  and  max-width: 991.98px
@media (max-width: 991.98px) {
  footer {
    background: darken($title, 14%);
    opacity: 0.9;
  }
  .footer-left {
    text-align: center;
  }
  .footer-left p,
  .footer-right p {
    color: $background;
  }
}

/* ----------- iPhone X ----------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .footer-left p {
    line-height: 30px;
  }
  .footer-right {
    display: none;
  }
}

/* ----------- iPhone 6 ----------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .footer-left p {
    line-height: 30px;
  }
}
