<footer #footer class="container-fluid fixed-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-6">
        <div class="footer-left">
          <p>
            Mountaber ® 2020. All rights reserved.
          </p>
        </div>
      </div>

      <div class="col-lg-6 d-none d-md-block">
        <div class="footer-right">
          <p class="text-lg-right">
            <a
              routerLink="/legal-advertisement"
              title="legal adevertisement mountaber.com"
              class="menu-line"
              >legal advertisement</a
            >
            |
            <a
              routerLink="/cookies"
              title="cookies mountaber.com"
              class="menu-line"
              >cookies policy</a
            >
            |
            <a
              routerLink="/credits"
              title="credits mountaber.com"
              class="menu-line"
              >credits</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
