<section class="site-section">
    <div class="container-fluid">
        <div class="container">
            <div @circles class="circles circle-LG d-none d-lg-block"></div>
            <div @circles class="circles circle-MD d-none d-lg-block"></div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 min-h-26 d-flex align-items-lg-end">
                    <h1 class="mt-5 mt-lg-0 mb-lg-5">Legal Advertisement</h1>
                </div>
                <div class="w-100"></div>
                <div class="col-12 col-lg-4 min-h-53 d-flex align-items-lg-start">
                    <div class="mRight">
                        <p>
                            This Webpage is the property of <span class="goldText">THEFIGTREEART SL</span>, holder of
                            CIF B67493809, henceforth <span class="goldText">MOUNTABER</span>.
                        </p>
                        <p>
                            For any query or proposal, contact us by email to
                            <a href="mailto:hello@mountaber.com" target="_blank">hello@mountaber.com</a>.
                        </p>
                        <p>
                            This Webpage is governed by law solely applicable in Spain and both national and foreign
                            users of this Website are subject to same.
                        </p>
                        <p>
                            The USER’s access to our Webpage is free of charge and contingent upon reading and fully and
                            expressly accepting without reservation these GENERAL CONDITIONS OF USE that are in effect
                            at the time of access, which we would ask you to read carefully. When using our portal, its
                            contents or services the USER expressly accepts and submits to the general conditions for
                            the use of same. Should the user not be in agreement with these Conditions of Use, they must
                            refrain from using this portal and operating via same.
                        </p>
                        <p>
                            We may modify the presentation and configuration of our Webpage, expand or reduce the
                            services and even remove it from the Internet at any time, together with the services and
                            contents provided, unilaterally and without prior notice.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 d-flex align-items-lg-start min-h-53">
                    <div class="mRight">
                        <h2 class="firstElement"><span class="goldText">A.</span> Intellectual property</h2>

                        <p>
                            All the content, texts, images and source codes are our property or third parties for which the exploitation rights were acquired and are protected by Intellectual and Industrial Property rights.
                        </p>

                        <p>
                            The user is solely entitled to make private, not for profit use of same, and requires express authorisation to modify, reproduce, exploit or distribute them or exercise any other right belonging to the owner.
                        </p>

                        <h2><span class="goldText">B.</span> Conditions of access and use</h2>

                        <p>
                            Access to our Webpage is free of charge and no prior subscription or registration is required.
                        </p>
                        <p>
                            Any personal data sent implies express acceptance on the USER’s part of our privacy policy.
                        </p>
                        <p>
                            The user must access our Webpage in good faith, in accordance with public order and these General Conditions of use. Access to our Website is at the sole liability of the user who shall be liable for any damages they may cause to us or to third parties.
                        </p>
                        <p>
                            Taking into account the impossibility of controlling the information, contents and services contained on third-party websites which are accessible via the links on our webpage, we inform you that we will not be liable for any damages of any nature which may arise from the use of these third-party webpages by the user.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>