<section class="site-section">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4">
        <div class="">
          <h1>
            Ergo,<br />
            Mountaber
          </h1>
          <p class="text">
            We are named after the hill on which the Romans settled in
            Barcelona, Mont Taber (Mount Taber). Because the fact is that the
            origins of Civilization are also the origins of our jewelry
            tradition, an art which grew thanks to the rise of guilds between
            the 12th and 14th centuries. As well as to the legacy that certain
            artistic movements, such as Catalan Modernism, have left.
          </p>
        </div>
      </div>
      <div class="col-lg-4 image">
        <img
          src="./assets/foto/_DSC1728-2.jpg"
          alt="Image"
          class="img-fluid foto"
        />
      </div>
    </div>
  </div>
</section>
