<section class="site-section container-fluid">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row align-items-center interior-height">
        <div class="col-lg-7 offset-lg-2">
          <h1 class="">
            In Mountaber<br />
            we know there is<br />
            a jewel per everyone
          </h1>
        </div>

        <div class="w-100 d-none d-md-block"></div>

        <div class="col-md-12 col-lg-2 offset-lg-2">
          <span class="input input--madoka" #span>
            <input
              (blur)="inputChange(0)"
              #input
              class="input__field input__field--madoka"
              id="input-1"
              type="text"
            />
            <label class="input__label input__label--madoka" for="input-1">
              <svg
                class="graphic graphic--madoka"
                width="100%"
                height="100%"
                viewBox="0 0 404 77"
                preserveAspectRatio="none"
              >
                <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
              </svg>
              <span class="input__label-content input__label-content--madoka"
                >name</span
              >
            </label>
          </span>
        </div>

        <div class="col-md-12 col-lg-3">
          <span class="input input--madoka" #span>
            <input
              (blur)="inputChange(1)"
              #input
              class="input__field input__field--madoka"
              id="input-2"
              type="text"
              formControlName="email"
            />
            <label class="input__label input__label--madoka" for="input-2">
              <svg
                class="graphic graphic--madoka"
                width="100%"
                height="100%"
                viewBox="0 0 404 77"
                preserveAspectRatio="none"
              >
                <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
              </svg>
              <span class="input__label-content input__label-content--madoka"
                >e-mail</span
              >
            </label>
          </span>
        </div>

        <div class="w-100 d-none d-lg-block"></div>

        <div class="col-md-12 col-lg-2 offset-lg-2">
          <span class="input input--madoka" #span>
            <input
              (blur)="inputChange(2)"
              #input
              class="input__field input__field--madoka"
              id="input-3"
              type="text"
            />
            <label class="input__label input__label--madoka" for="input-3">
              <svg
                class="graphic graphic--madoka"
                width="100%"
                height="100%"
                viewBox="0 0 404 77"
                preserveAspectRatio="none"
              >
                <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
              </svg>
              <span class="input__label-content input__label-content--madoka"
                >phone</span
              >
            </label>
          </span>
        </div>
        <div class="col-md-12 col-lg-3">
          <span class="input input--madoka" #span>
            <input
              (blur)="inputChange(3)"
              #input
              class="input__field input__field--madoka"
              id="input-4"
              type="text"
              formControlName="email"
            />
            <label class="input__label input__label--madoka" for="input-4">
              <svg
                class="graphic graphic--madoka"
                width="100%"
                height="100%"
                viewBox="0 0 404 77"
                preserveAspectRatio="none"
              >
                <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
              </svg>
              <span class="input__label-content input__label-content--madoka"
                >message</span
              >
            </label>
          </span>
        </div>
        <div class="col-md-12 col-lg-2">
          <button
            type="submit"
            [disabled]="form.invalid"
            class="button mx-lg-auto button-line"
          >
            enviar
          </button>
        </div>
        <div class="col-lg-3 d-none d-lg-block">
          <p class="pContact">
            Are you curious?<br />
            We shall you show more.<br />
            Write us at contact@mountaber.com
          </p>
        </div>
      </div>
    </form>
  </div>
</section>
