@import "../../styles.scss";

h1 {
  margin-bottom: 0;
  height: 48vh;
  display: flex;
  align-items: flex-end;
}

input {
  &:focus {
    outline: none;
  }
  &.ng-invalid.ng-touched {
    color: lighten($carmine, 6%);
  }
  &.ng-valid.ng-touched {
    color: lighten($green, 14%);
  }
}

// tooltip
// .wrapper {
//   // position: relative;
//   -webkit-transform: translateZ(0); /* webkit flicker fix */
//   -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
// }

// .wrapper .tooltip {
//   background: $text;
//   bottom: 100%;
//   color: $background;
//   display: block;
//   left: 0px;
//   margin-bottom: 0px;
//   opacity: 0;
//   padding: 10px 20px;
//   pointer-events: none;
//   position: absolute;
//   width: auto;
//   -webkit-transform: translateY(10px);
//   -moz-transform: translateY(10px);
//   -ms-transform: translateY(10px);
//   -o-transform: translateY(10px);
//   transform: translateY(10px);
//   -webkit-transition: all 0.25s ease-out;
//   -moz-transition: all 0.25s ease-out;
//   -ms-transition: all 0.25s ease-out;
//   -o-transition: all 0.25s ease-out;
//   transition: all 0.25s ease-out;
//   -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
//   -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
//   -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
//   -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
//   box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
// }

// /* CSS Triangles - see Trevor's post */
// .wrapper .tooltip:after {
//   content: " ";
//   border-left: solid transparent 10px;
//   border-right: solid transparent 10px;
//   border-top: solid $text 10px;
//   bottom: -10px;
//   height: 0;
//   left: 30%;
//   margin-left: -13px;
//   position: absolute;
//   width: 0;
// }

// .wrapper-show .tooltip {
//   opacity: 1;
//   pointer-events: auto;
//   -webkit-transform: translateY(0px);
//   -moz-transform: translateY(0px);
//   -ms-transform: translateY(0px);
//   -o-transform: translateY(0px);
//   transform: translateY(0px);
// }

// --------------------------------------------------
.pContact {
  line-height: 100%;
}

.input1 {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 200px;
  vertical-align: bottom;
}

.input2 {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 320px;
  vertical-align: bottom;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 100%;
  border: none;
  border-radius: 0;
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  padding: 0 1em;
  width: 40%;
  font-size: 70%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.1rem 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

/* Madoka */

.input__field--madoka {
  width: 100%;
  background: transparent;
  color: $text;
}

.input__label--madoka {
  position: absolute;
  width: 100%;
  height: 100%;
  color: $text;
  font-size: $textSizeXL;
  text-align: left;
  cursor: none;
}

.input__label-content--madoka {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.graphic--madoka {
  -webkit-transform: scale3d(1, -1, 1);
  transform: scale3d(1, -1, 1);
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
  pointer-events: none;
  stroke: $text;
  stroke-dashoffset: 558;
}
.stroke1 {
  stroke-dasharray: 758;
}
.stroke2 {
  stroke-dasharray: 878;
}

.input__field--madoka:focus + .input__label--madoka,
.input--filled .input__label--madoka {
  cursor: default;
  pointer-events: none;
}

.input__field--madoka:focus + .input__label--madoka .graphic--madoka.stroke1,
.input--filled .graphic--madoka.stroke1 {
  stroke-dashoffset: 0;
}

.input__field--madoka:focus + .input__label--madoka .graphic--madoka.stroke2,
.input--filled .graphic--madoka.stroke2 {
  stroke-dashoffset: 0;
}

.input__field--madoka:focus
  + .input__label--madoka
  .input__label-content--madoka,
.input--filled .input__label-content--madoka {
  -webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 3em, 0);
  transform: scale3d(0.81, 0.81, 1) translate3d(0, 3em, 0);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $background inset !important;
  box-shadow: inset 0 0 0 1000px $background !important;
}

// -------------------------------------------------------- max 1570px -------------------------------------
@media (min-width: 992px) and (max-width: 1570px) {
  .pContact {
    line-height: 124%;
  }

  .offset-xl-2 {
    margin-left: 0%;
  }

  .col-xl-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-xl-2 {
    flex: 0 0 25%;
    max-width: 25%;
    &.col-xl-my {
      flex: 0 0 15%;
      max-width: 15%;
    }
  }

  .col-xl-3 {
    flex: 0 0 35%;
    max-width: 35%;
    &.col-xl-my {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  // .input2 {
  //   width: 200px;
  // }
  // .stroke2 {
  //   stroke-dasharray: 758;
  // }

  h1 {
    font-size: 3.7rem;
    line-height: 120%;
  }
}

@media (min-width: 1600px) {
  .pContact {
    line-height: 138%;
  }
}

@media (max-width: 1023.98px) {
  h1 {
    font-size: 1.6rem;
    height: 16vh;
    line-height: 114%;
  }

  .input {
    width: 100%;
  }

  .input__field {
    padding: 0.5em;
  }

  .input__label-content {
    padding: 0.7rem 0;
  }

  .input__field--madoka:focus
    + .input__label--madoka
    .input__label-content--madoka,
  .input--filled .input__label-content--madoka {
    -webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 2.5em, 0);
    transform: scale3d(0.81, 0.81, 1) translate3d(0, 2.5em, 0);
  }

  .button {
    margin-top: 0;
    margin-bottom: 14px;
  }
}

// MEDIA QUERIES -------------------------------- min-width: 768  and  max-width: 991.98px
@media (max-width: 991.98px) {
  .input1 {
    width: 320px;
  }
  .stroke1 {
    stroke-dasharray: 878;
  }

  .formBlock {
    & div:nth-child(2),
    & div:nth-child(5) {
      display: none !important;
    }
  }
  h1 {
    font-size: 3rem;
  }
}

/* ----------- iPad Pro 12.9" ----------- */
/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 4rem !important;
    line-height: 120%;
  }

  .offset-lg-2 {
    margin-left: 0%;
  }

  .col-lg-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .containerContact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3fr 1fr 1fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "h1 h1"
      "name email"
      "phone message"
      "button p";
  }

  .h1grid {
    grid-area: h1;
  }
  .namegrid {
    grid-area: name;
  }
  .emailgrid {
    grid-area: email;
  }
  .phonegrid {
    grid-area: phone;
  }
  .messagegrid {
    grid-area: message;
  }
  .buttongrid {
    grid-area: button;
  }
  .pgrid {
    grid-area: p;
  }
  .formBlock {
    & div:nth-child(2),
    & div:nth-child(5) {
      display: none !important;
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .height-h1 {
    height: 46vh;
    line-height: 46vh;
  }

  .line-height-h1 {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
  }
  h1 {
    line-height: 120%;
  }

  .offset-lg-2 {
    margin-left: 0%;
  }

  .col-lg-2 {
    flex: 0 0 23%;
    max-width: 23%;
  }

  .col-lg-3 {
    flex: 0 0 32%;
    max-width: 32%;
  }
  .col-button {
    flex: 0 0 18% !important;
    max-width: 18% !important;
  }
  .col-p {
    flex: 0 0 27% !important;
    max-width: 27% !important;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .interior-height {
    height: 79vh;
  }
  h1 {
    margin-top: 46px;
    margin-bottom: -36px;
    font-size: 3.5rem;
    height: auto;
  }
  .input1 {
    width: 320px;
  }
  .stroke1 {
    stroke-dasharray: 878;
  }

  .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pContact {
    line-height: 125%;
  }

  .formBlock {
    & div:nth-child(2),
    & div:nth-child(5) {
      display: none !important;
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .interior-height {
    height: 79vh;
  }
  h1 {
    font-size: 3.2rem;
    height: auto;
  }

  .containerContact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3fr 1fr 1fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "h1 h1"
      "name email"
      "phone message"
      "button p";
  }

  .h1grid {
    grid-area: h1;
  }
  .namegrid {
    grid-area: name;
  }
  .emailgrid {
    grid-area: email;
  }
  .phonegrid {
    grid-area: phone;
  }
  .messagegrid {
    grid-area: message;
  }
  .buttongrid {
    grid-area: button;
  }
  .pgrid {
    grid-area: p;
  }

  .offset-lg-2 {
    margin-left: 0;
  }

  .col-lg-7 {
    max-width: 100%;
  }

  .col-lg-3 {
    max-width: 100%;
  }

  .formBlock {
    & div:nth-child(2),
    & div:nth-child(5) {
      display: none !important;
    }
  }

  .pContact {
    line-height: 125%;
  }
  .button {
    margin-top: 0;
  }
}

/* Landscape */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    margin-bottom: 0;
    height: auto;
    display: flex;
    align-items: flex-end;
  }

  h1 {
    font-size: 3.7rem;
    height: auto;
  }

  .col-lg-7 {
    flex: 0 0 70%;
    max-width: 70%;
  }
}

/* ----------- iPhone X ----------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .d-none-landscape {
    display: none;
  }
  h1 {
    font-size: 2.8rem;
    height: auto;
  }
  .formBlock {
    margin-top: 40px;
    width: 100%;
    & > div {
      margin-bottom: 46px;
    }
    & div:nth-child(2) {
      margin-bottom: 0;
    }
  }

  section {
    margin-top: $mBottomS-XS;
  }

  .input__label--madoka {
    width: 100%;
  }

  .input1 {
    width: 320px;
  }
  .stroke1 {
    stroke-dasharray: 878;
  }
}

/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .input1 {
    width: 310px;
  }
  .stroke1 {
    stroke-dasharray: 868;
  }
  .input2 {
    width: 310px;
  }
  .stroke2 {
    stroke-dasharray: 868;
  }
  h1 {
    font-size: 1.5rem;
    height: 16vh;
    line-height: 125%;
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .d-none-landscape {
    display: none;
  }
  h1 {
    font-size: 2.4rem;
    height: auto;
  }
  .formBlock {
    margin-top: 40px;
    width: 100%;
    & > div {
      margin-bottom: 46px;
    }
    & div:nth-child(2) {
      margin-bottom: 0;
    }
  }

  section {
    margin-top: $mBottomS-XS;
  }

  .input1 {
    width: 320px;
  }
  .stroke1 {
    stroke-dasharray: 878;
  }
}

/* ----------- iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .input1 {
    width: 320px;
  }
  .stroke1 {
    stroke-dasharray: 878;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .d-none-landscape {
    display: none;
  }
  h1 {
    font-size: 2.4rem;
    height: auto;
  }
  .formBlock {
    margin-top: 40px;
    width: 100%;
    & > div {
      margin-bottom: 46px;
    }
    & div:nth-child(2) {
      margin-bottom: 0;
    }
  }

  section {
    margin-top: $mBottomS-XS;
  }

  .input1 {
    width: 320px;
  }
  .stroke1 {
    stroke-dasharray: 878;
  }
}
