@import "../../styles.scss";
@media (max-width: 1200px) {
  // .horizontal-image,
  // .vertical-image,
  // .square-image {
  //   width: 100%;
  //   height: auto;
  // }

  .myUlMenuBox {
    overflow: hidden;
  }
  .myResponsiveMenu {
    top: 0;
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 0vh;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .toggler {
    /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
    z-index: 2;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 46px;
    left: 15px;
    cursor: pointer;
    opacity: 0;
  }

  .hamburger {
    position: absolute;
    width: 40px;
    z-index: 3;
    height: 16vh;
    /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-end;
    padding-bottom: 29px;
    left: 27px;
  }

  .myInputBurger {
    position: absolute;
    z-index: 100000000;
  }

  /* CREATING THE MIDDLE LINE OF THE HAMBURGER : */

  .hamburger > div {
    position: relative;
    top: 0;
    left: 0;
    background: rgba($background, 0);
    height: 1px;
    width: 60%;
    transition: all 0.4s ease;
  }

  /* CREATING THE TOP AND BOTTOM LINES : 
TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */

  .hamburger > div::before,
  .hamburger > div::after {
    content: "";
    position: absolute;
    top: -2.5px;
    background: $text;
    width: 100%;
    height: 1px;
    transition: all 0.4s ease;
  }

  .hamburger > div::after {
    top: 7px;
  }

  /* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

  .toggler:checked + .hamburger > div {
    background: rgba(0, 0, 0, 0);
  }

  .toggler:checked + .hamburger > div::before {
    top: 0;
    transform: rotate(45deg);
    background: $background;
  }

  /* AND ROTATING THE TOP AND BOTTOM LINES :  */

  .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(135deg);
    background: $background;
  }

  /* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */

  .menu {
    background: $title;
    width: 0%;
    height: 100vh;

    /* APPLYING TRANSITION TO THE MENU :  */

    transition: all 0.4s ease;
  }

  /* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */

  .toggler:checked ~ .menu {
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100vh;
    background-color: darken($title, 10%);
    top: 0vh;
    opacity: 0.98;
    overflow: hidden;

    &:after {
      content: "";
      top: 0;
      transform: translateX(100%) rotate(30deg);
      width: 200%;
      height: 200%;
      position: absolute;
      z-index: 1;
      animation: shine 4s ease-in;
      background: linear-gradient(
        to right,
        rgba(219, 192, 161, 0) 0%,
        rgba(219, 192, 161, 0.8) 50%,
        rgba(228, 207, 163, 0) 99%,
        rgba(228, 207, 163, 0) 100%
      );
    }
  }

  br {
    background: linear-gradient(to bottom, #c39738, #deb761, #c39738);
  }
  /* STYLING THE LIST :  */

  .menu > div > ul {
    /* display       : flex;
        flex-direction: column;
        position      : fixed;
        top           : 70px; */
    padding-left: 0px;
    width: 100%;
    /* HIDDEN INITIALLY  :  */

    visibility: hidden;
  }

  .menu > div > ul > li {
    list-style: none;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
  }

  .menu > div > ul > li > a {
    text-decoration: none;
    font-size: 2.4rem;
    color: $background;
    line-height: 220%;
  }

  /* WHEN THE TOGGLER IS CHECKED, CHANGE THE VISIBILITY TO VISIBLE :  */

  .toggler:checked ~ .menu > div > ul {
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    visibility: visible;
  }

  //   .toggler:checked ~ .menu > div > ul > li > a:hover {
  //     /* color: orange; */
  //   }
  .myResponsiveUl {
    padding-top: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  i {
    font-size: 1.2rem;
    margin: 0 16px;
  }

  hr {
    border: 0.2px solid $background;
    width: 80%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
  ul li:last-child {
    margin-top: -20px;
  }
}

// -------------------------------media queries ---------------------------------------------------

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

// ------------------------------ keyframes -------------------------------------------------------
@keyframes shine {
  0% {
    transform: translateX(-100%) translateY(-100%) rotate(30deg);
  }
  80% {
    transform: translateX(-100%) translateY(-100%) rotate(30deg);
  }
  100% {
    transform: translateX(100%) translateY(100%) rotate(30deg);
  }
}

// MEDIA QUERIES -------------------------------- min-width: 768  and  max-width: 991.98px
@media (min-width: 768px) and (max-width: 991.98px) {
  .toggler {
    /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
    top: 108px;
    left: 37px;
  }

  .hamburger > div {
    top: 0;
    left: 13px;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .toggler {
    top: 106px;
    left: 28px;
  }

  .hamburger > div {
    top: -4px;
    left: 13px;
  }
}
/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- iPhone X ----------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .toggler {
    top: 49px;
    left: 48px;
  }

  .hamburger > div {
    top: 40px;
    left: 33px;
  }

  .menu > div > ul > li {
    padding: 0.5rem;
  }

  .menu > div > ul > li > a {
    font-size: 1.4rem;
  }

  .myResponsiveUl {
    padding-top: 3vh;
  }
}

/* ----------- iPhone 6 ----------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .toggler {
    top: 48px;
    left: 67px;
  }

  .hamburger > div {
    top: 40px;
    left: 54px;
  }

  .menu > div > ul > li {
    padding: 0.5rem;
  }

  .menu > div > ul > li > a {
    font-size: 1.4rem;
  }

  .myResponsiveUl {
    padding-top: 3vh;
  }
}

/* ----------- iPhone 6+ ----------- */
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .toggler {
    top: 46px;
    left: 102px;
  }

  .hamburger > div {
    top: 34px;
    left: 90px;
  }

  .menu > div > ul > li {
    padding: 0.5rem;
  }

  .menu > div > ul > li > a {
    font-size: 1.4rem;
  }

  .myResponsiveUl {
    padding-top: 3vh;
  }
}
