@import "../../../styles.scss";

#dotSlider {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translate(0, -50%);
  width: 14px;
  height: auto;

  & li {
    margin: 12.5px auto;
    list-style: none;
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    background: $text;
    border-radius: 50%;
  }

  & li.menu-active {
    background: $linkHover;
    width: 13px;
    height: 13px;
  }
  & li.menu-active-collections {
    background: $linkHover;
    width: 13px;
    height: 13px;
  }
}

@media (max-width: 1200px) {
  #dotSlider {
    display: none;
  }
}
