<section class="site-section">
  <div class="container-fluid">
    <div class="container">
      <div @circles class="circles circle-LG"></div>
      <div @circles class="circles circle-MD"></div>
      <div @circles class="circles circle-SM"></div>
      <!----------------------- photo SM ------------------------------->
      <figure #pendant class="img-jewels d-block d-lg-none img-iPad-display">
        <img
          @animationJewels
          src="./assets/img/photo/mountaber-rosemary-jewels-mobile.png"
          alt="Image"
          class="img-fluid foto img-iPad-display-none"
          width="100%"
          height="auto"
        />

        <img
          @animationJewels
          src="./assets/img/photo/mountaber-rosemary-jewels-ipad.png"
          alt="Image"
          class="img-fluid foto d-none img-iPad-display"
          width="100%"
          height="auto"
        />
      </figure>

      <div class="row d-flex align-items-center interior-height">
        <div class="col-md-12 col-lg-6 offset-lg-1">
          <h1 @titleAnimation>
            <span>the</span>
            <span>jewels</span>
            <span>per</span>
            <span>se</span>
          </h1>
          <div class="row containerLandscape paddingRight25">
            <div class="col-lg-6">
              <p @textAnimationL>
                Our pieces are the perfect incarnation of our jewelry tradition:
                the strength of noble metals contrasts with the harmony and the
                softness of plant shapes, and the elegance of the finest ems
                matches the simplicity of geometric forms.
              </p>
            </div>
            <div class="col-md-12 col-lg-6">
              <p @textAnimationR>
                Timeless jewelry sets based on modernism, which are easy to wear
                and do not enhance the author but the personality of those who
                wear them.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-md-12 col-lg-5 d-none d-lg-block interior-height img-iPad-display-none"
        >
          <figure class="img-jewels">
            <img
              @animationJewels
              src="./assets/img/photo/mountaber-jewels-rosemary-pendant.png"
              alt="rosemary pendand mountaber"
              class="img-fluid foto"
              width="100%"
              height="auto"
            />
          </figure>
        </div>
      </div>
      <div @buttonAnimation class="button-box">
        <button
          (click)="goToCollections()"
          class="button button-jewels button-line"
        >
          Collections
        </button>
      </div>
    </div>
  </div>
</section>
