<section class="site-section container-fluid">
  <div class="container">
    <div class="row align-items-center interior-height justify-content-start container-portrait margin-top-mobile">
      <!-- Chamfer ------------------------------------------------------>
      <div class="col-6 gridChamfer">
        <figure #chamferBox class="img-jewels mx-auto" (mouseover)="emphasiseChamferImg()"
          (mouseout)="shrinkChamferImg()">
          <img src="./assets/img/photo/mountaber-chamfer-collection-ring-01.jpg" alt="mountaber chamfer ring" #chamferRing
            class="photo-collections" height="auto" />
          <h2 #chamferH2 id="chamfer-h2">
            chamfer
          </h2>
        </figure>
      </div>

      <!-- Vertical line ------------------------------------------------------------>
      <div #verticalLine class="vertical-line gridLine"></div>
      <!-- rosemary ----------------------------------------------------------------->
      <div class="col-6 gridRosemary">
        <figure #rosemaryBox class="img-jewels mx-auto" (mouseover)="emphasiseRosemaryImg()"
          (mouseout)="shrinkRosemaryImg()">
          <img src="./assets/img/photo/mountaber-rosemary-collection-ring-01.jpg" alt="mountaber rosemary ring" #rosemaryRing
            class="photo-collections" width="100%" height="auto" />
          <h2 #rosemaryH2 id="rosemary-h2">
            rosemary
          </h2>
        </figure>
      </div>

      <div class="d-none d-block-ipad gridText">
        <div #theCollections class="collections-text show">
          <h1 class="show">
            the collections
          </h1>
        </div>

        <!-- Para animacion de Chamfer y Rosemary ipad-->
        <div #laTecnica class="collections-text-tecnica d-none">
          <h1>
            la técnica
          </h1>
          <p #laTecnicaP class="padding-text-collections">
            All Mountaber jewelry is made in situ in Barcelona, following
            traditional techniques such as fire enamel.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>