<div class="cookies" id="idCookiePolicyPanel" *ngIf="visible">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 mb-3 mb-md-0 col-md-9">
        <p>
          We use cookies to remember your preferences, draw up statistics on the
          usage of our website and show adverts based on your browsing habits.
          By continuing to browse this site, you are agreeing to our use of
          cookies. For more information about this, please refer to
          <a routerLink="/cookies" target="_blank" title="Cookies">
            our Cookie Policy</a
          >.
        </p>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <button type="button" class="button" (click)="accept()">Agree</button>
      </div>
    </div>
  </div>
</div>
