<section class="site-section">
  <img src="./assets/foto/_DSC1912.jpg" alt="Image" class="img-fluid foto" />
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-4 offset-md-2 mt-5">
        <h1>
          the jewels per se
        </h1>
        <div class="row">
          <div class="col-6">
            <p>
              Our pieces are the perfect incarnation of our jewelry tradition:
              the strength of noble metals contrasts with the harmony and the
              softness of plant shapes, and the elegance of the finest ems
              matches the simplicity of geometric forms.
            </p>
          </div>
          <div class="col-6">
            <p>
              Timeless jewelry sets based on modernism, which are easy to wear
              and do not enhance the author but the personality of those who
              wear them.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="button mx-auto button-line">Collection</button>
      </div>
    </div>
  </div>
</section>
