@import "../../styles.scss";

// VARIABLES
$standard-transition: all 0.76s cubic-bezier(0.2, 1, 0.3, 1);

.photo-collections {
  width: 400px;
  height: 400px;
  position: relative;
}

.vertical-line {
  border-left: 1px solid $blue;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
}

figure h2 {
  position: absolute;
  top: 50%;
  left: 40%;
}

.collections-text {
  position: fixed;
  right: 10%;
  bottom: 10vh;
  transition: $standard-transition;
}

.collections-text-tecnica {
  position: fixed;
  // right: 10%;
  left: 64%;
  width: 400px;
  bottom: 10vh;
  transition: $standard-transition;
}

.laTecnicaMove {
  transform: translateX(-44vw);
}

// .padding-text-collections {
//   // padding-right: 80px;
//   @media screen and (min-width: 576px) {
//     padding-right: 15%;
//   }
//   @media screen and (min-width: 768px) {
//     padding-right: 20%;
//   }
//   @media screen and (min-width: 992px) {
//     padding-right: 45%;
//   }
//   @media screen and (min-width: 1200px) {
//     padding-right: 45%;
//   }
// }

//  -----------------------animation------------------------
/* MIXINS */
@mixin h2after($bg-color) {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  transition: width 0.6s linear;
  background: $bg-color;
}
@mixin h2emphasis($top, $left) {
  transition: all 2s cubic-bezier(0.33, 1, 0.44, 1);
  transform: scale(1.6);
  position: absolute;
  transition-duration: 1.2s;
  top: $top !important;
  left: $left !important;
}

/************ My ZOOM Animation ***********/
.img-jewels {
  width: 400px;
  height: 400px;
  // margin-bottom: 10vh;
  mix-blend-mode: darken;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  img {
    transition: $standard-transition;
    opacity: 0.3;
  }

  // Emphasis
  .emphasis {
    transform: scale(1.25);
    opacity: 1;
    cursor: pointer;
  }

  .emphasis-left-img {
    transform-origin: center left;
  }

  .emphasis-right-img {
    transform-origin: center right;
  }

  // Shrank
  .shrank {
    transform: scale(0.5) translate(0, 0);
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }
  .shrank-left-img {
    transform-origin: top right;
  }
  .shrank-right-img {
    transform-origin: top left;
  }

  #chamfer-h2 {
    color: $carmine;
    &::after {
      @include h2after($carmine);
    }
  }
  #rosemary-h2 {
    color: $green;
    left: 41.5%;
    &::after {
      @include h2after($green);
    }
  }
  &:hover {
    #rosemary-h2::after,
    #chamfer-h2::after {
      width: 0%;
    }
  }
  .left-h2-emphasis {
    @include h2emphasis(105%, 20%);
  }
  .right-h2-emphasis {
    @include h2emphasis(105%, 80%);
  }
}

.show {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
  animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 0.66s;
  animation-duration: 0.66s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  opacity: 0;
  -webkit-animation-name: fadeOutOpacity;
  animation-name: fadeOutOpacity;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 0.66s;
  animation-duration: 0.66s;
}
@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.d-block-ipad {
  display: block !important;
}

.d-none-ipad {
  display: none !important;
}

/* ----------- min-width: 992px MD ----------- */
@media (max-width: 1400px) {
  .img-jewels {
    width: 300px;
    height: 300px;
  }
  .photo-collections {
    width: 300px;
    height: 300px;
  }

  figure h2 {
    left: 38%;
  }

  .collections-text-tecnica {
    width: 330px;
    left: 61%;
  }
  .laTecnicaMove {
    transform: translateX(-140%);
  }

  .img-jewels .left-h2-emphasis {
    top: 140% !important;
    left: 14% !important;
  }

  .img-jewels .right-h2-emphasis {
    top: 140% !important;
    left: 56% !important;
  }
}

/* ----------- iPad Pro 12.9" ----------- */
/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .img-jewels {
    width: 260px;
    height: 260px;
  }
  .photo-collections {
    width: 260px;
    height: 260px;
  }

  .img-jewels .emphasis-left-img {
    transform-origin: top left;
  }
  .img-jewels .emphasis-right-img {
    transform-origin: bottom right;
  }

  figure h2 {
    left: 42%;
  }

  .img-jewels .left-h2-emphasis {
    top: 101% !important;
    left: 16% !important;
  }

  .img-jewels .right-h2-emphasis {
    top: 78% !important;
    left: 66% !important;
  }

  .collections-text {
    position: static;
    transition: all 0.76s cubic-bezier(0.2, 1, 0.3, 1);
    margin-left: auto;
    margin-right: auto;
  }
  .collections-text-tecnica {
    position: absolute;
    transition: all 0.76s cubic-bezier(0.2, 1, 0.3, 1);
    width: 500px;
    bottom: 8%;
    left: 29vw;
  }

  .padding-text-collections {
    padding-right: 0%;
  }

  .laTecnicaMove {
    transform: translateX(0%);
  }

  .container-portrait {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 4fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "chamfer"
      "line"
      "rosemary"
      "text";
  }

  .gridChamfer {
    grid-area: chamfer;
    align-self: end;
  }
  .gridLine {
    grid-area: line;
  }
  .gridRosemary {
    grid-area: rosemary;
    align-self: start;
  }
  .gridText {
    grid-area: text;
  }

  .vertical-line {
    border-bottom: 1px solid #485368;
    border-left: none;
    width: 60px;
    height: 1px;
    position: static;
    margin-left: auto;
    margin-right: auto;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .img-jewels {
    width: 300px;
    height: 300px;
  }
  .photo-collections {
    width: 300px;
    height: 300px;
  }

  figure h2 {
    left: 38%;
  }
  .collections-text {
    right: -11vw;
  }

  .collections-text-tecnica {
    right: -12vw;
  }
  .laTecnicaMove {
    transform: translateX(-90%);
  }

  .img-jewels .left-h2-emphasis {
    top: 146% !important;
    left: 9% !important;
  }

  .img-jewels .right-h2-emphasis {
    top: 146% !important;
    left: 63% !important;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023.98px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .img-jewels {
    width: 160px;
    height: 160px;
  }
  .photo-collections {
    width: 160px;
    height: 160px;
  }

  .img-jewels .emphasis-left-img {
    transform-origin: top left;
  }
  .img-jewels .emphasis-right-img {
    transform-origin: bottom right;
  }

  figure h2 {
    left: 42%;
  }

  .img-jewels .left-h2-emphasis {
    top: 101% !important;
    left: 16% !important;
  }

  .img-jewels .right-h2-emphasis {
    top: 78% !important;
    left: 66% !important;
  }

  .collections-text {
    position: static;
    transition: all 0.76s cubic-bezier(0.2, 1, 0.3, 1);
    margin-left: auto;
    margin-right: auto;
    width: 353px;
  }
  .collections-text-tecnica {
    position: absolute;
    transition: all 0.76s cubic-bezier(0.2, 1, 0.3, 1);
    width: 350px;
    bottom: 8%;
    left: 35vw;
  }

  .laTecnicaMove {
    transform: translateX(0%);
  }

  .container-portrait {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 4fr 2fr;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "chamfer"
      "line"
      "rosemary"
      "text";
  }

  .gridChamfer {
    grid-area: chamfer;
    align-self: end;
  }
  .gridLine {
    grid-area: line;
  }
  .gridRosemary {
    grid-area: rosemary;
    align-self: start;
  }
  .gridText {
    grid-area: text;
  }

  .vertical-line {
    border-bottom: 1px solid #485368;
    border-left: none;
    width: 60px;
    height: 1px;
    position: static;
    margin-left: auto;
    margin-right: auto;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .img-jewels {
    width: 260px;
    height: 260px;
  }
  .photo-collections {
    width: 260px;
    height: 260px;
  }

  figure h2 {
    left: 36%;
  }

  .img-jewels #rosemary-h2 {
    left: 36.5%;
  }
  .collections-text {
    right: -26vw;
  }

  .collections-text-tecnica {
    right: -29.2vw;
  }
  .laTecnicaMove {
    transform: translateX(-68%);
  }

  .img-jewels .left-h2-emphasis {
    top: 146% !important;
    left: 9% !important;
  }

  .img-jewels .right-h2-emphasis {
    top: 146% !important;
    left: 63% !important;
  }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .img-jewels {
    width: 140px;
    height: 140px;
  }
  .photo-collections {
    width: 140px;
    height: 140px;
  }

  .img-jewels .emphasis-left-img {
    transform-origin: top left;
  }
  .img-jewels .emphasis-right-img {
    transform-origin: bottom right;
  }

  figure h2 {
    left: 39%;
  }
  .img-jewels #rosemary-h2 {
    left: 39%;
  }

  .img-jewels .left-h2-emphasis {
    transform: scale(1.4);
    top: 107% !important;
    left: 12% !important;
  }

  .img-jewels .right-h2-emphasis {
    transform: scale(1.4);
    top: 85% !important;
    left: 66% !important;
  }

  .collections-text {
    position: static;
    transition: all 0.76s cubic-bezier(0.2, 1, 0.3, 1);
    margin-left: auto;
    margin-right: auto;
    width: 243px;
  }
  .collections-text-tecnica {
    position: absolute;
    transition: all 0.76s cubic-bezier(0.2, 1, 0.3, 1);
    width: 220px;
    bottom: 8.5%;
    left: 26vw;
  }

  .laTecnicaMove {
    transform: translateX(0%);
  }

  .container-portrait {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 3fr 2fr;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "chamfer"
      "line"
      "rosemary"
      "text";
  }

  .gridChamfer {
    grid-area: chamfer;
    align-self: end;
  }
  .gridLine {
    grid-area: line;
  }
  .gridRosemary {
    grid-area: rosemary;
    align-self: start;
  }
  .gridText {
    grid-area: text;
  }

  .vertical-line {
    border-bottom: 1px solid #485368;
    border-left: none;
    width: 60px;
    height: 1px;
    position: static;
    margin-left: auto;
    margin-right: auto;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .img-jewels {
    width: 160px;
    height: 160px;
  }
  .photo-collections {
    width: 160px;
    height: 160px;
  }
  .interior-height {
    height: auto;
  }
  figure h2 {
    left: 38%;
  }

  .collections-text h1 {
    margin-bottom: 90px;
  }

  .img-jewels #rosemary-h2 {
    left: 37%;
  }
  .collections-text {
    position: static;
    width: 500px;
    text-align: center;
    padding-left: 6px;
    margin-top: 60px;
  }

  .collections-text-tecnica {
    width: 300px;
    right: -40.2vw;
    bottom: 147px;
    position: relative;
  }

  .padding-text-collections[_ngcontent-qpg-c51] {
    padding-right: 0%;
  }
  .laTecnicaMove {
    transform: translateX(-135%);
  }

  .margin-top-mobile {
    margin-top: 30px;
  }

  .img-jewels .left-h2-emphasis {
    top: 146% !important;
    left: 9% !important;
  }

  .img-jewels .right-h2-emphasis {
    top: 146% !important;
    left: 63% !important;
  }

  .vertical-line {
    top: 61%;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 735,98px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  figure h2 {
    left: 40%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .img-jewels {
    width: 160px;
    height: 160px;
  }
  .photo-collections {
    width: 160px;
    height: 160px;
  }
  .interior-height {
    height: auto;
  }
  figure h2 {
    left: 34%;
  }

  .img-jewels #rosemary-h2 {
    left: 34%;
  }
  .collections-text {
    position: static;
    width: 500px;
    text-align: center;
    padding-left: 6px;
    margin-top: 60px;
  }

  .collections-text-tecnica {
    width: 300px;
    right: -40.2vw;
    bottom: 146px;
    position: relative;
  }

  .padding-text-collections[_ngcontent-qpg-c51] {
    padding-right: 0%;
  }
  .laTecnicaMove {
    transform: translateX(-113%);
  }

  .margin-top-mobile {
    margin-top: 30px;
  }

  .img-jewels .left-h2-emphasis {
    top: 146% !important;
    left: 9% !important;
  }

  .img-jewels .right-h2-emphasis {
    top: 146% !important;
    left: 63% !important;
  }

  .vertical-line {
    top: 55%;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .img-jewels {
    width: 120px;
    height: 120px;
  }
  .photo-collections {
    width: 120px;
    height: 120px;
  }

  .img-jewels .emphasis-left-img {
    transform-origin: top left;
  }
  .img-jewels .emphasis-right-img {
    transform-origin: bottom right;
  }

  figure h2 {
    left: 39%;
  }
  .img-jewels #rosemary-h2 {
    left: 39%;
  }

  .img-jewels .left-h2-emphasis {
    transform: scale(1.4);
    top: 107% !important;
    left: 12% !important;
  }

  .img-jewels .right-h2-emphasis {
    transform: scale(1.4);
    top: 85% !important;
    left: 66% !important;
  }

  .collections-text {
    position: static;
    transition: all 0.76s cubic-bezier(0.2, 1, 0.3, 1);
    margin-left: auto;
    margin-right: auto;
    width: 243px;
  }
  .collections-text-tecnica {
    position: absolute;
    transition: all 0.76s cubic-bezier(0.2, 1, 0.3, 1);
    width: 300px;
    bottom: 8.5%;
    left: 12vw;
  }

  .laTecnicaMove {
    transform: translateX(0%);
  }

  .container-portrait {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 4fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "chamfer"
      "line"
      "rosemary"
      "text";
  }

  .gridChamfer {
    grid-area: chamfer;
    align-self: end;
  }
  .gridLine {
    grid-area: line;
  }
  .gridRosemary {
    grid-area: rosemary;
    align-self: start;
  }
  .gridText {
    grid-area: text;
  }

  .vertical-line {
    border-bottom: 1px solid #485368;
    border-left: none;
    width: 60px;
    height: 1px;
    position: static;
    margin-left: auto;
    margin-right: auto;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .img-jewels {
    width: 160px;
    height: 160px;
  }
  .photo-collections {
    width: 160px;
    height: 160px;
  }
  .interior-height {
    height: auto;
  }
  figure h2 {
    left: 36%;
  }

  .img-jewels #rosemary-h2 {
    left: 35%;
  }
  .collections-text {
    position: static;
    width: 500px;
    text-align: center;
    padding-left: 6px;
    margin-top: 60px;
  }

  .collections-text h1 {
    margin-bottom: 90px;
  }

  .collections-text-tecnica {
    width: 300px;
    right: -40.2vw;
    bottom: 152px;
    position: relative;
  }

  .padding-text-collections[_ngcontent-qpg-c51] {
    padding-right: 0%;
  }
  .laTecnicaMove {
    transform: translateX(-95%);
  }

  .margin-top-mobile {
    margin-top: 30px;
  }

  .img-jewels .left-h2-emphasis {
    top: 146% !important;
    left: 9% !important;
  }

  .img-jewels .right-h2-emphasis {
    top: 146% !important;
    left: 63% !important;
  }

  .vertical-line {
    top: 60%;
  }
}
